body {
	font-family: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	background: #F8F2F2;
	color: rgb(125, 125, 125);
}

	.wrapper {
		margin: 1em;
	}

strong {
	font-weight: 500;
}

header {
	margin-bottom: 1.593em;
	padding-bottom: 1.593em;
	border-bottom: 1px solid rgb(208,202,202);
}

address {
	margin-top: 0.5em;
	font-style: normal;
}

	address a, address span {
		font-size: 0.875em;
		display: block;
		line-height: 1.6;
		color: rgb(125,125,125);
		text-decoration: none;
	}

	address .ss-icon {
		margin-right: 5px;
		color: rgb(44,44,44);
		vertical-align: sub;
	}

section {
	display: block;
	margin-top: 1.25em;
	padding-top: 1.25em;
	border-top: 1px dotted rgb(208,202,202);
}

	section section {
		margin: 0;
		padding: 0;
	}

	section section:first-child {
		margin-bottom: 1.25em;
		padding-bottom: 1.25em;
		border-bottom: 1px dotted rgb(208,202,202);
	}

	section:first-child, section#experience, section#passions {
		margin: 0;
		padding: 0;
		border: none;
	}

h1 {
	color: rgb(44,44,44);
	font-size: 4em;
	letter-spacing: -2px;
	margin: 0;
	line-height: 1;
}

h2 {
	font-weight: 300;
	margin: 0;
	line-height: 1;
}

h3 {
	font-size: 1.25em;
	margin: 0 0 0.5em;
	font-weight: 300;
	color: rgb(44,44,44);
}

	h3 .ss-icon {
		vertical-align: middle;
		color: rgb(211,25,0);
	}

h4 {
	margin: 0;
	font-size: 1em;
	font-weight: 300;
	color: rgb(44,44,44);
}

h5 {
	margin: 0 0 0.25em;
	font-size: 1em;
	font-weight: 300;
	color: rgb(44,44,44);
}

.dates {
	font-style: italic;
	font-size: 0.75em;
}

.summary {
	font-size: 1em;
	line-height: 1.4;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.basics {
	margin: 0 0 0.25em;
}

.experience {
  	margin-top: 1.25em;
  }

  .experience:first-child {
  	margin-top: 0;
  }

.talent {
	padding-top: 1em;
	clear: both;
}

	.talent:first-child {
		padding-top: 0;
	}

	.talent h5 {
		margin-bottom: 0.5em;
	}

	.talent .bar {
		background: rgb(220,220,220);
		height: 5px;
		margin-right: 10%;
		margin-top: 1%;
		border-radius: 4px;
	}

		.talent .bar span {
			display: block;
			background: rgb(44,44,44);
			height: 5px;
			border-radius: 4px;
		}

.ss-icon {
	margin-right: 5px;
}

.group:after, address a:after, address span:after, .experience:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@media all and (min-width: 36em) {
	body {
		margin: 0;
		border-top: 3px solid #646464;
	}

	.wrapper {
		margin: 0 1em;
	}

	address {
		float: right;
		margin-top: 0.5em;
		font-style: normal;
	}

		address a, address span {
			font-size: 0.875em;
			display: block;
			line-height: 1.6;
			color: rgb(125,125,125);
			text-decoration: none;
		}

		address .ss-icon {
			margin-right: 5px;
			color: rgb(44,44,44);
			vertical-align: sub;
		}

	.wrapper {
		margin: 3em auto;
		max-width: 37em;
	}

	section section:first-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}

  .basics {
  	float: left;
  	width: 33%;
  	margin: 0;
  }

  .details {
  	margin-left: 35%;
  }

  .two-column section {
  	float: right;
  	width: 47%;
  }

  	.two-column section:first-child {
		float: left;
	}

  .technologies {
  	float: left;
  	margin-right: 8%;
  	line-height: 1.4;
  }
}

@media print {
	body {
		margin: 0;
		color: rgb(150,150,150);
		background: rgb(255,255,255);
		border: none;
	}

	.talent .bar {
		background-color: rgb(220,220,220);
		height: 10px;
		width: 90%;
		margin-right: 10%;
		margin-top: 1%;
	}

		.talent .bar span {
			display: block;
			height: 10px;
		}

	strong {
		font-weight: 300;
		color: rgb(44,44,44);
	}

	del {
		font-weight: 300;
		color: rgb(200,200,200);
	}
}