body {
	margin: 5em auto;
  padding: 0 1em;
	max-width: 47em;
	background: hsla(180,14%,99%,1);
	font-family: "proxima-nova", helvetica, arial, sans-serif;
	font-weight: 300;
	line-height: 1.6;
	color: hsla(210,27%,24%,1);
}

a {
	color: hsla(204,67%,54%,1);
	text-decoration: none;
	border-bottom: 1px solid hsla(204,67%,54%,0.35);
	font-weight: bold;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;    /* FF3.7+ */
	-o-transition: all 0.2s linear;      /* Opera 10.5 */
	-webkit-transition: all 0.2s linear; /* Saf3.2+, Chrome */
}

	a:hover {
		color: hsla(204,59%,45%,1);
    border-bottom: 1px solid hsla(204,67%,54%,0.75);
	}

h1 {
  font-size: 2.618em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.618em;
  font-weight: normal;
  margin-bottom: 0;
}

h3 {
  font-size: 1em;
  margin-bottom: 0;
}

h3 em {
  font-weight: normal;
  margin-left: 1em;
}

.summary {
  margin: 0;
  font-size: 1.618em;
  line-height: 1.3;
}

section {
  margin-bottom: 3em;
}

.experience {
  margin-bottom: 3em;
}

.experience:last-child {
  margin-bottom: 0;
}

.experience strong, .pay-the-bills strong {
  color: hsla(4,76%,57%,1);
}

.pay-the-bills h3 {
  margin-bottom: 0;
}

.pay-the-bills ul {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

footer {
	clear: both;
}

	footer ul, footer li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

		footer ul {
			padding-top: .75em;
		}

		footer li {
			font-size: 0.875em;
			display: inline;
			margin-right: 1em;
		}

    footer a {
      font-weight: normal;
    }

@media all and (max-width: 45em) {
  body {
    margin: 0;
    padding: 2em 1em;
  }

  footer li {
    display: block;
  }
}
