html {border-top: 3px solid rgb(100,100,100)}

body {padding: 0; background-color: rgb(248,242,242); font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; font-size-adjust:0.488; font-weight:200; font-style: normal; max-width: 32em; margin: 3.125em auto; color: rgb(125,125,125)}

a {color: rgb(00,66,99); text-decoration: none; border-bottom: 1px solid rgb(198,192,192)}
  a:hover {border-color: rgb(00,66,99)}
  
h1 {margin: 0 auto 1.875em; width: 135px; height: 135px; background: url(mark.png) no-repeat top left; text-indent: -999em}

p {margin: 0 0 0.9375em; font-size: 1em; line-height: 1.6; text-shadow: 1px 1px 1px rgba(255,255,255,0.75)}
  p:last-child {margin: 0}
  
/* Just a little something for those smaller screens */
@media all and (max-width: 36em) {
  body {margin: 3.125em 2em}
}

@media all and (max-width: 30em) {
  h1 {width: 115px; height: 115px; background-size: 115px 115px}
}